/UDrawingPaper/nbproject/private/
/UDrawingPaper/build/
/UDrawingPaper/dist/
/FASE 2/UDrawingPaper/nbproject/private/
/FASE 2/UDrawingPaper/build/
/FASE 2/UDrawingPaper/dist/
/FASE 3/UDrawwingPaper/nbproject/private/
/FASE 3/UDrawwingPaper/build/
/FASE 3/UDrawwingPaper/dist/